[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/SafeInt"]
	path = src/SafeInt
	url = https://github.com/dcleblanc/SafeInt
[submodule "src/cmake/CreateLaunchers"]
	path = src/cmake/CreateLaunchers
	url = https://github.com/caseymcc/CreateLaunchers.git
